.developers {
  width: 700px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}

.developer-active {
  background-color: rgb(82, 82, 243);
  color: white;
  border: none;
}

.developer-names {
  margin: 0px 6px;
}

button {
  font-size: 15px;
  background-color: white;
  color: blue;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid blue;
  cursor: pointer;
}
